.product-container {
    display: grid;
    grid-template-columns: 1fr;
}

.product-img {
    width: 100%;
}

.product-title {
    margin-bottom: 0;
}

a.fas.fa-map-marker-alt {
    color: var(--background1);
}

.product-location {
    margin-top: 10px;
}